{% extends 'MefiInfoDumpBundle::page.html.twig' %}

{% block content %}
  <div class="container-fluid">
    <div class='lead'>Hone Page Content</div>

    {% render "MefiInfoDumpBundle:UserInfo:test" %}
  </div>
{% endblock %}