{% extends 'MefiInfoDumpBundle::page.html.twig' %}

{% block page_javascripts %}

  {% javascripts output="generated/home.js"
  'bundles/mefiinfodump/js/date.js'
  'bundles/mefiinfodump/js/home.js'
  'bundles/mefiinfodump/js/leftnav.js'
  'bundles/mefiinfodump/js/user_charts.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3"> <!-- sidebar -->
        {% render "MefiInfoDumpBundle:Common:leftnav" %}
      </div><!--/span-->
      <div class="span9"> <!--Body content-->
        {% render "MefiInfoDumpBundle:Home:template" %}
      </div>
    </div>
  </div>
{% endblock %}