# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/generated/*
web/js/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.idea/
.DS_Store

src/Profiler
web/apc.php

src/Mefi/InfoDumpBundle/Resources/config/sql/data/*
