home:
    pattern:  /
    defaults: { _controller: MefiInfoDumpBundle:Home:index }

home_content:
  pattern: /home/content
  defaults: {_controller: MefiInfoDumpBundle:Home:content }
  options:
    expose: true

signupsByDate_content:
    pattern: /_home/signupsByDate/content
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByDateContent }
    options:
      expose: true

signupsByDate_data:
    pattern: /_home/signupsByDate/data
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByDateData}
    options:
      expose: true
      
signupsByMonth_content:
    pattern: /_home/signupsByMonth/content
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByMonthContent }
    options:
      expose: true

signupsByMonth_data:
    pattern: /_home/signupsByMonth/data
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByMonthData}
    options:
      expose: true

signupsByYear_content:
    pattern: /_home/signupsByYear/content
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByYearContent }
    options:
      expose: true

signupsByYear_data:
    pattern: /_home/signupsByYear/data
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByYearData}
    options:
      expose: true

signupsByDOW_content:
    pattern: /_home/signupsByDOW/content
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByDOWContent }
    options:
      expose: true

signupsByDOW_data:
    pattern: /_home/signupsByDOW/data
    defaults: { _controller: MefiInfoDumpBundle:Usernames:signupsByDOWData}
    options:
      expose: true


