<div class="well sidebar-nav">
  <ul class="report-menu nav nav-list">
    <li class='active'><a href="#" data-content="home_content">What's This?</a></li>
    <li class="nav-header">SignUps</li>
    <li><a href="#" data-data="signupsByDate_data"  data-content="signupsByDate_content"  data-display='signupsByDate'>By Date</a></li>
    <li><a href="#" data-data="signupsByMonth_data"  data-content="signupsByMonth_content"  data-display='signupsByMonth'>By Month</a></li>
    <li><a href="#" data-data="signupsByYear_data"  data-content="signupsByYear_content"  data-display='signupsByYear'>By Year</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Other Info</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Even More Info</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div><!--/.well -->