<div class="well sidebar-nav">
  <ul class="report-menu nav nav-list">
    <li class='active'><a href="#" data-content="home_content">What's This?</a></li>
    <li class="nav-header">Sign Ups</li>
    <li><a href="#" data-data="signupsByDate_data"  data-content="signupsByDate_content"  data-display='signupsByDate'>Totals By Date</a></li>
    <li><a href="#" data-data="signupsByYear_data"  data-content="signupsByYear_content"  data-display='signupsByYear'>Totals By Year</a></li>
    <li><a href="#" data-data="signupsByMonth_data"  data-content="signupsByMonth_content"  data-display='signupsByMonth'>Totals By Month</a></li>
    <li><a href="#" data-data="signupsByDOW_data"  data-content="signupsByDOW_content"  data-display='signupsByDOW'>Totals By Day of Week</a></li>
    <li class="nav-header">AskMe</li>
    <li><a href="#" data-data="askPostsByDate_data"  data-content="askPostsByDate_content"  data-display='askPostsByDate'>Posts By Date</a></li>
    <li><a href="#" data-data="askPostsByYear_data"  data-content="askPostsByYear_content"  data-display='askPostsByYear'>Posts By Year</a></li>
    <li><a href="#" data-data="askPostsByMonth_data"  data-content="askPostsByMonth_content"  data-display='askPostsByMonth'>Posts By Month</a></li>
    <li><a href="#" data-data="askPostsByDOW_data"  data-content="askPostsByDOW_content"  data-display='askPostsByDOW'>Posts By Day Of Week</a></li>
  </ul>
</div><!--/.well -->